html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}


header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 10;
  height: 5%;
  width: 98%;
  padding: 0 1%;
  align-items: center;

  nav {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbarLogo {
    max-height: 100%;
    max-width: 20%;
    border-radius: 100%;
    width: auto;
    height: auto;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 1vw;
    font-weight: bold;

  }

}

.sectionContainer {

  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

section {
  height: 100vh;
  width: 100vw;
  display: inline-flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-align: start;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  position: relative;
  top: 0;

  .flexContainer {
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;

    img {
      border: 1px solid black;
      max-height: 60%;
      max-width: 60%;
    }

    video {
      border: 1px solid black;
      max-height: 60%;
      max-width: 50%;
    }

    #dbBackupScaleDown {
      scale: 0.9;
    }

    #dbBackupDemoScaleUp {
      scale: 1.2;
    }

    .readMore {
      position: absolute;
      right: 5%;
      bottom: 5%;

      img {
        border: 0;
        width: 50px;
        height: 50px;
      }
    }

    .goBack {
      position: relative;
      bottom: -10%;
      transform: rotate(180deg);
      scale: 1.5;
      right: 10vw;

      img {
        border: 0;
      }
    }

    .infoContainer {
      height: 90%;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 5vw;
        margin: 0;
        padding: 0;
      }

      p {
        font-size: 1em;
        font-style: italic;
      }

      fieldset {
        border: 1px solid grey;
        padding: 1em;
        margin: 1em 0;
        border-radius: 10px;
        font-size: 1.2vw;
      }


      li {
        padding-bottom: 10%;
        font-size: 1.2vw;
      }
    }
  }

}

#Libraries {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 10vh;

  button {
    margin: 20px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    max-width: fit-content;
    max-height: fit-content;
    align-items: center;
    border-radius: 50px;

    h1 {
      margin: 0 10px;
    }

    img {
      height: 50px;
      background-color: white;
      margin: 5px;
      width: 50px;
      border-radius: 100%;
    }
  }
}

footer {
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  background-color: black;
  height: 5%;
  width: 90%;
  padding: 1% 5%;
  scroll-snap-align: end;

  a {
    width: 50px;
    height: 50px;

    img {
      max-height: 50px;
      max-width: 50px;
      width: auto;
      height: auto;
    }
  }
}


/* Media query for when viewport is vertical */
@media only screen and (orientation: portrait) {
  header {
    .navbarLogo {
      max-height: 150%;
      max-width: 150%;
      margin-top: 3%;
      border-radius: 100%;
      width: auto;
      height: auto;
    }

    nav {
      display: none;
    }
  }

  section {
    .flexContainer {
      flex-direction: column-reverse;
      justify-content: space-around;
      padding: 10% 0;
      width: 100%;
      height: 80%;


      img {
        max-height: 80%;
        max-width: 90%;
      }

      video {

        max-height: 80%;
        max-width: 90%;
      }

      .infoContainerHeading {
        top: 0;
      }

      .infoContainer {
        width: 80%;
        height: 30%;

        h1 {
          font-size: 40pt;
        }

        fieldset {
          font-size: 1.5vh;
        }

        li {
          padding-bottom: 5%;
          font-size: 3vw;
        }
      }
    }
  }

  footer {
    a {
      width: 30px;
      height: 30px;

      img {
        max-height: 30px;
        max-width: 30px;
        width: auto;
        height: auto;
      }
    }
  }
}



body .sectionContainer:nth-child(odd) {
  background-color: white;
  color: black;
}

body .sectionContainer:nth-child(even) {
  background-color: black;
  color: white;
}


::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}
